<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("../partials/cabecalho.ejs") %>
</head>
<body>
    <form action="/medicos" method="post">

        <input type="hidden" name="_id" value="<%=medico._id%>">
        
        <div>
            <label class="form-label">CRM</label>
            <input value ="<%= medico.crm%>" type= "text" class="form-control" name= "crm" required>
        </div>

        <div>
            <label class="form-label">Nome</label>
            <input value ="<%= medico.nome%>" type= "text" class="form-control" name= "nome" required>
        </div> 

        <div>
            <label class="form-label">Área</label>
            <input value ="<%= medico.area%>" type= "text" class="form-control" name= "area" required>
        </div>

        
        <div>
            <input type="submit" value="Salvar" class="btn btn-sucess">
        </div>

        
        </form>

        <%- include("../partials/rodape.ejs") %>
</body>
</html>

